h1{
    font-family: Cairo;
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 100%;
letter-spacing: -1%;
vertical-align: middle;
color: var(--color-black-2);
padding: 50px;
}
@media (max-width: 992px) {


  h1{
    font-size: 25px !important;
    text-align: center;
    padding: 40px 10px;
  }

}