<app-header-pages [title]="'ORDER_DETAILS.TITLE' | translate" />

<div class="container-fluid mb-5">
  <div class="cardService d-flex gap-3">
    <img [src]="baseUrl + bookingData()?.user?.photoUrl || 'Image/bgAuth.jpg'" class="ImgeEngieer" alt="service"
      width="100px" />

    <div class="infoService flex-grow-1 px-2">
      <h5>{{ bookingData()?.user?.name }}</h5>

      <div class="description d-flex justify-content-between align-items-center w-100 flex-wrap">
        <p class="mb-2">{{ bookingData()?.user?.phone }}</p>
        @if (bookingData()?.user?.address) {
        <p class="m-0">{{ bookingData()?.user?.address }}</p>
        }
      </div>
    </div>
  </div>

  <div class="Details mt-4">
    <h4>{{ 'ORDER_DETAILS.SERVICES' | translate }}</h4>

    <div class="cardService mt-3 p-3">
      @for (service of bookingData()?.services; track service.id) {
      <div class="detail-row">
        <span>{{ service.name }}</span>
        <span>${{ service.price }}</span>
      </div>
      }
    </div>
  </div>

  <div class="Details mt-4">
    <h4>{{ 'ORDER_DETAILS.PAYMENT' | translate }}</h4>

    <div class="cardService mt-3 p-3">
      <div class="detail-row">
        <span>{{ 'ORDER_DETAILS.PRICE' | translate }}</span>
        <span>${{ bookingData()?.totalAmount }}</span>
      </div>
      <div class="detail-row">
        <span>{{ 'ORDER_DETAILS.ADDRESS' | translate }}</span>
        <span>{{ bookingData()?.address }}</span>
      </div>
      <div class="detail-row">
        <span>{{ 'ORDER_DETAILS.TOTAL_POINTS' | translate }}</span>
        <span>{{ bookingData()?.totalPoint }}</span>
      </div>
      <div class="detail-row">
        <span>{{ 'ORDER_DETAILS.DATE' | translate }}</span>
        <span>{{ bookingData()?.date | date }}</span>
      </div>
    </div>
  </div>
</div>
