<div class="service mt-5 pt-5 container-fluid">

    <div class="contentService">
        <h1>الطلبات الجديدة</h1>


    </div>

        @if (bookingCard().length === 0) {
      <div class="no-data">
        لا توجد حجوزات لعرضها
      </div>
    }

    <div class="cards-wrapper">
        @for (card of bookingCard(); track card.id) {
        <div class="card p-3 ">

            <div class="d-flex cardRow gap-2 ">
                <img [src]="baseUrl + card.photoUrl" alt="service" class="order" />

                <div class="flex-grow-1">
                    <div class="card-top">

                        <div class="text">
                            <h3 class="m-0">{{ card.userName }}</h3>
                        </div>
                    </div>
                    <div class="info">

                        <span class="date">
                            <img src="Icons/stash_data-date-light.svg" alt="">
                            <span>{{ card.createOn | date:'dd MMMM y'}}</span>
                        </span>
                    </div>
                    <div class="card-bottom">


                        <div class="actions">
                            <button class="accept" [disabled]="card.status !== 0" (click)="acceptBooking(card)">
                                قبول
                            </button>
                            <button class="reject" [disabled]="card.status !== 0" (click)="rejectBooking(card)">
                                رفض
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        }
    </div>


</div>