.contentService {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;

    h1 {
        font-family: Cairo;
        font-weight: 700;
        font-style: Bold;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -1%;
        vertical-align: middle;

    }

    p {
        font-family: Cairo;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: #666;
        width: 65%;

    }

    margin-bottom: 50px;
}
