.contentService {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;

    h1 {
        font-family: Cairo;
        font-weight: 700;
        font-style: Bold;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -1%;
        vertical-align: middle;

    }

    p {
        font-family: Cairo;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: #666;
        width: 65%;

    }

    margin-bottom: 50px;
}

.category {

    width: 100%;
    border: 1px solid #F36B14;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 16px;

    img {
        width: 84px;
        height: 84px;
        border-radius: 50%;
    }

    p {
        color: var(--color-black-alpha);
    }
}

.cardServices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
@media (max-width: 992px) {
  .cardServices {
    grid-template-columns: repeat(1, 1fr);
  }


}
.cardService {
    border: 2px solid #fac19e81;
    border-radius: 16px;
    padding: 10px;
    background-color: var(--color-white);
    max-height: 420px;
    height: auto;

    img {
        border-radius: 12px;
        height: 100px;
        object-fit: cover;
        width: 100px;
    }

    cursor: pointer;
   position: relative;
   .poinst {
    position: absolute;
    top: 20px;
    margin-inline-end: 10px;
    background-color: var(--color-orange);
    color: var(--color-white);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    inset-inline-end: 10px;
   }
   .infoService{
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
       
        color: #949292;
    }
   }
}



.dropdown-container {
  display: flex;
  justify-content: center;
}

.dropdown {
  position: relative;
  width: 280px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.dropdown-selected {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  background: #fff;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-height: 250px;
  overflow-y: auto;
  z-index: 100;
}

.dropdown-item {
  padding: 10px 15px;
  transition: 0.2s ease;
}

.dropdown-item:hover {
  background: #f3f3f3;
}
@media (max-width: 550px) {
 .cardService{
  flex-direction: column;
      img {
        border-radius: 12px;
        height: 150px !important;
        object-fit: cover;
        width: 100% !important;
    }
 }

}