
.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.bodyAdd{
    max-height: 550px !important;
}

.serviceList {
  margin-bottom: 10px;
}

.serviceRow {
  display: flex;
  gap: 20px;

  border: 1px solid var(--card-bg);
  border-radius: 12px;
  padding: 10px 12px;
  cursor: pointer;
  background-color:  var(--card-bg);
}

.check {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.serviceInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.priceInput {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
}

.image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 5px;
}
input{
                height: 40px;
            border: 1px solid #bfbfbf;
            outline: none;
            &:hover{
      border-color:  var(--color-orange);
            }
}
.show-checkbox {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.85rem;
  cursor: pointer;
  user-select: none;

  input[type="checkbox"] {
    appearance: none; /* remove default checkbox */
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;

    &:checked {
      background-color: var(--color-orange); /* green when checked */
      border-color:  var(--color-orange);

      &::after {
        content: '';
        position: absolute;
        top: 1px;
        left: 8px;
        width: 11px;
        height: 18px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &:hover {
      border-color: var(--color-orange-3); /* blue on hover */
    }
  }

  span {
    color: var(--muted);
  }
}
