.headerTitle {
        h3 {
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-bottom: 20px;
        color: var(--color-orange);

    }
}
.form {
     
    margin-top: 40px;
    .form-group {
        margin-bottom: 20px;

        label {
            font-family: Cairo;
            font-weight: 500;
            font-style: Medium;
            font-size: 16px;
            line-height: 14px;
            letter-spacing: 0%;
            text-align: right;
            color: var(--color-black-2);
            margin-bottom: 12px;

        }

        .input-wrapper {
            position: relative;

            input {
                width: 100%;
                padding: 8px 12px;
                border: 1px solid #e0e0e0;
                border-radius: 6px;
                font-size: 14px;
                outline: none;
                height: 48px;
                transition: border-color 0.3s;
                border: 1px solid #C9C9C9;
                background-color: transparent;

                &:focus {
                    border-color: #bdbdbd;
                }

                &:placeholder-shown {
                    color: #C9C9C9;

                }

                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
            }

            .toggle {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: none;
                cursor: pointer;
                font-size: 16px;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .btn-fill{
        border-radius: 24px;
        background-color: var(--color-orange-2);
        outline: none;
        border: none;
        cursor: pointer;
        color: var(--color-white);
        font-weight: 600;
        font-style: SemiBold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        padding: 12px 40px ;
        text-align: center;

}
}