.info {
    h3 {
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: var(--color-orange);

    }

    .aboutme {
        border: 1px solid #dfdfdf94;
        padding: 10px 20px;
        margin: 40px 0;
        border-radius: 16px;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .avatar {
        position: relative;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }

        .camera {
            position: absolute;
            bottom: 2px;
            right: -10px;
            background: #fff;
            border: 2px solid #FEA420;
            color: #FEA420;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .name {
        font-weight: 600;
        font-size: 25px;
        line-height: 120%;
        color: var(--color-black-2);

    }

    .points {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -3%;
        color: #FEA420;

    }

    .btnsave {
        padding: 12px 80px;
        border-radius: 250px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
          background: var(--color-orange-dark);
        color: #fff !important;
        border: none;
        outline: none;
        transition: background 0.3s ease, color 0.3s ease, transform 0.25s ease, box-shadow 0.25s ease;
          &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: #ccc;
    color: #aaa;
    background: #f8f8f8;
  }
    }



}

.center-type {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #222;
  }

  .type-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: #aaa;
    cursor: pointer;

    input {
      width: 20px;
      height: 20px;
      appearance: none;
      border: 2px solid #aaa;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease;

      &:checked {
        background-color: #f97316; // اللون البرتقالي
        border-color: #f97316;
      }

      &:checked::after {
        content: "✔";
        color: white;
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 3px;
      }
    }

    &.active {
      color: #000; // النص الأسود للخيار النشط
      font-weight: 600;
    }
  }
}
