
.grid-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  width: 100%;

  .cardpordcut {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;


    .image-wrapper {
      position: relative;

      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
      }

      .hours {
        position: absolute;
        top: 10px;
        left: 10px;
        background: #ffffffcc;
        color: #000;
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
      }
    }

    .card-body {
      padding: 15px;

      h3 {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .location {
        font-size: 14px;
        color: #777;
        margin-bottom: 10px;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;

        .star {
          color: #ffb400;
        }

        .rate {
          font-weight: 600;
        }

        .count {
          color: #888;
        }
      }
    }
  }
}

/* --- Products Layout (full width card) --- */
.full-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .full-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: transform 0.3s ease;



    .image {
      flex: 0 0 250px;

      img {
        width: 100%;
        height: 120px;
        object-fit: cover;
      }
    }

    .info {
      flex: 1;
      padding: 15px;

      h3 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p {
        color: #777;
        font-size: 15px;
        margin-bottom: 10px;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;

        .star {
          color: #ffb400;
        }

        .rate {
          font-weight: 600;
        }

        .count {
          color: #888;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .grid-view {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .grid-view {
    grid-template-columns: 1fr;
  }

  .full-card {
    flex-direction: column;
    .image {
      flex:none !important ;
      width: 100%;
    }
  }

  .tabs {
    flex-direction: column;
    border-radius: 16px;
    button {
      width: 100%;
    }
  }
}
