.loading-placeholder{
        display: flex
;
    justify-content: center;
    align-items: center;
    /* padding: 70px; */
    height: 100%;
    color: var(--color-orange-dark);
    font-size: 30px;

}