<div class="overlaypopup"></div>
<div class="addsuggest">
    <div class="bodyAdd">
        <div class="headerpopup d-flex justify-content-between align-items-center">
            <h5>اضافة اقتراح</h5>
            <div class="icons cr">
                <i class="fa-solid fa-circle-xmark"></i>
            </div>
        </div>
        <div class="contentPopup d-flex flex-column gap-3 mt-4">
            <div class="fromGroup">
                <label for="">عنوان الشكوي</label>
                   <input type="text" placeholder="ادخل عنوان الشكوى">
            </div>
             <div class="fromGroup">
                <label for="">عنوان الشكوي</label>
          <textarea  placeholder="اكتب الموضوع هنا"></textarea>
            </div>
        </div>
    </div>
</div>