<div class="heroPorfile mb-5">
  <div class="ImagePorfile">
    <img src="Image/workerProfile.png" alt="" width="587" />
  </div>
  <div class="contentBooking container-fluid">
    <div class="experiance container-fluid">
      <div class="cardsEx">
        <div class="Icons purple">
          <img src="Icons/worker.svg" alt="">
        </div>
        <div class="info">
          <span>جميع الخدمات</span>
          <p>{{engineerProfile()?.totalServices}}</p>
        </div>
      </div>
      <div class="cardsEx">
        <div class="Icons blue">
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="info">
          <span>{{ engineerProfile()?.startYear | experience }} عام</span>
          <p>خبرة</p>
        </div>
      </div>
      <div class="cardsEx">
        <div class="Icons Orange">
          <i class="fa-regular fa-star"></i>
        </div>
        <div class="info">
          <span> تقييم</span>
          <p>{{engineerProfile()?.rate}}</p>
        </div>
      </div>
    </div>

    <div class="serviceSelect">
      <div class="headerText d-flex justify-content-between align-items-center">
        <h4> {{engineerProfile()?.userDto?.name}}</h4>
        <div class="IconImage">
          <img src="Icons/message.svg" alt="" />
        </div>
      </div>
      <div class="cardSelects">
        @for (s of engineerProfile()?.services; track s.id) {
        <div class="selected" (click)="toggleService(s)" [class.active]="isSelected(s)">
          <div class="Imageservice d-flex align-items-center gap-2">
            <img [src]="'Image/bgAuth.jpg'" alt="" width="35" height="35" class="rounded-circle" />
            <h5 class="m-0">{{ s.name }}</h5>
          </div>
          <h5 class="m-0">{{ s.price }} $</h5>
        </div>
        }
      </div>

      <div class="d-flex  mt-3 justify-content-between align-items-center">
        <span class="location">{{totalPrice()}}$ </span>
        <div class="location mt-2 d-flex align-items-center gap-2">
          <img src="Icons/cil_send.svg" alt="" />
          <span>5</span>
        </div>

      </div>
    </div>

    <div class="description">
      <h4>الوصف</h4>
      <p>
        {{ engineerProfile()?.summary }}
      </p>
    </div>

    <div class="selectDate">
      <h4>اختيار التاريخ</h4>
<div class="days-container">
  @for (day of engineerSchedule(); track day.id) {
    <div class="bodyCard d-flex justify-content-between align-items-center gap-2 flex-column">
      <span class="day-name">
        {{ getDayName(day.dayOfWeek) }}
      </span>

      <div
        class="day-card"
        [class.active]="selectedDay() === day.id"
        [class.holiday]="day.isHoliday"
        (click)="!day.isHoliday && selectDay(day.id)"
      >
        <span class="day-number">
    {{ day.startTime.slice(0, 5) }} - {{ day.endTime.slice(0, 5) }}
        </span>
      </div>
    </div>
  }
</div>
 <app-rates [engineerId]="engineerId()" [userId]="userId()"></app-rates>

    <div class="booking d-flex gap-3 align-items-center">
      <div class="priceBooking">
        <span>{{totalPrice()}}$ </span>
      </div>
      <div class="btnBooking">
        <button (click)="print()">الدفع</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <div class="overlaypopup"></div>
<div class="addsuggest">
  asdasasd
</div> -->