.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
    align-items: self-start;
  padding: 40px 0;

  .feature {
    flex: 1;
    min-width: 200px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 16px;

    .icon {
      width: 50px;
      height: 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    p {
      font-size: 14px;
      line-height: 1.6;
      color: #1a1a1a;
    }
  }
}

@media (max-width: 600px) {
  .features {
  justify-content: center;

    align-items: center;

  .feature {
    flex: 1;
    min-width: 200px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }}
}