.days-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
  }

  .subtitle {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-top: 20px;
  }

    .days-container {
      display: flex;
      gap: 20px;
      justify-content: start;
      align-items: center;
      flex-wrap: nowrap;
      overflow: scroll;
      scrollbar-width: none;
      margin-top: 20px;
    }

    .day-name {
      font-family: Cairo;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -0.3px;
      margin-bottom: 10px;
      text-align: center;

      color: #949292;
    }

    .day-card {
      height: 50px;
      border: 1px solid #949292;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
      background: transparent;
      color: #949292;
      font-family: 'Cairo', sans-serif;
      font-size: 14px;
      border-radius: 35px;
      min-width: 110px;
      padding: 10px 16px;
      .day-number {
        font-size: 14px;
        font-weight: 500;
      }

      &.active {
        background: #ff6600;
        color: #fff;
        border: none;
      }


      &.holiday {
        background-color: #d6d6d6; // رمادي
        color: #777;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }


