<div class="suggestion">
  <div class="headerTitle">
    <h3>{{ 'workSchedule.workSchedule' | translate }}</h3>
    <button class="btn" (click)="openPopup()">
      {{ 'workSchedule.addDay' | translate }} <i class="fa-solid fa-plus"></i>
    </button>
  </div>

  <p class="subtitle">{{ 'workSchedule.yourWorkDays' | translate }}</p>

  <div class="days-container">
    @for (day of days(); track day.id) {
    <div class="bodyCard d-flex justify-content-between align-items-center gap-2 flex-column">
      <span class="day-name">{{ getDayName(day.id) }}</span>
      <div class="day-card" [class.active]="getScheduleForDay(day.id)">
        <span class="day-number">
          @if (getScheduleForDay(day.id)) {
            {{ getScheduleForDay(day.id)?.startTime?.slice(0,5) }} -
            {{ getScheduleForDay(day.id)?.endTime?.slice(0,5) }}
          } @else {
            {{ 'workSchedule.offDay' | translate }}
          }
        </span>
      </div>
    </div>
  }
  </div>
</div>
