<div class="suggestion">
  <div class="headerTitle">
    <h3>الاقتراحات</h3>
    <button class="btn" (click)="openPopup()">اضافة اقتراح <i class="fa-solid fa-plus"></i></button>
  </div>

  <div class="post-container mt-4">
    @for (card of SuggestionList(); track card.id) {
    <div class="post-card">
      <div class="header" (click)="toggleCard(card.id)">
        <div class="title w-75">
          <h5 class="m-0">{{card.title}}</h5>
          <p class="author ">{{ card.description }}</p>
        </div>
        <div class="date">
          <img src="Icons/stash_data-date-light.svg" alt="">
          <span> {{card.createdOn | date }}</span>

          <button class="toggle-btn">
            <i [class]="
                expandedCard === card.id ? 'fa-solid fa-chevron-up' : 'fa-solid fa-chevron-down'
              "></i>
          </button>
        </div>
      </div>
        <div class="iconsEy"> 
                        @if (card.viewed ) {
                          <img src="Icons/view.svg" alt="">
                        }
                        @else {
                          <img src="Icons/unview.svg" alt="">

                        }

                      </div>
      <div class="content" [class.open]="expandedCard === card.id">
        <div class="d-flex mb-4 justify-content-between align-items-start">
          @if (card.photoUrls.length) {
          <div class="images">
            @for (img of card.photoUrls; track img) {
            <img [src]="baseurl + img" alt="preview" (click)="openImage(baseurl + img)" />
            }
          </div>
          } @if (selectedImage) {
          <div class="overlay" (click)="closeImage()">
            <div class="popup" (click)="$event.stopPropagation()">
              <img [src]="selectedImage" alt="full view" />
              <div class="icons cr" (click)="closeImage()">
                <i class="fa-solid fa-circle-xmark"></i>
              </div>
            </div>
          </div>
          } @if (card.voiceNoteUrl) {
          <div class="voice-player">
            <button class="play-btn" (click)="togglePlay(card)">
              <i [class]="card.isPlaying ? 'fa-solid fa-pause' : 'fa-solid fa-play'"></i>
            </button>

            <div class="waveform">
              @for (bar of [].constructor(40); track $index ; let i = $index) {
              <div
                class="bar"
                [style.height.px]="Math.sin(i) * 10 + 20"
                [style.opacity]="i / 40 < (card.progress ?? 0) / 100 ? '1' : '0.3'"
              ></div>
              }
            </div>

            <span class="time">{{ formatTime(card.currentTime || 0) }}</span>
          </div>
          }
        </div>

        @if (card.fileUrls.length) {
        <div class="resources">
          @for (res of card.fileUrls; track $index ; let i = $index) {
          <a
            class="resource gap-2"
            [href]="baseurl + res"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="Icons/pdf.svg" alt="" />
            <div>
              <h6>resource {{ i + 1 }} <span>(pdf)</span></h6>
              <p>1 MB</p>
            </div>
          </a>
          }
        </div>
        }
      </div>
    </div>
    }
        @if (SuggestionList().length === 0) {
    <div class="no-data">لا توجد مقترحات لعرضها.</div>
    }
  </div>

      <div class="pagination mt-4 mb-0">
        <button class="nav-btn" (click)="prevPage()" [disabled]="!movePrevious()">
            ‹ السابق
        </button>
        <div class="pages">
            @for (page of visiblePages; track $index) {
            <button class="page" [class.active]="page === currentPage()" [disabled]="page === currentPage()"
                (click)="goToPage(page)">
                {{ currentPage() }}
            </button>
            }
        </div>
        <button class="nav-btn" (click)="nextPage()" [disabled]="!moveNext()">
            التالي ›
        </button>
    </div>
</div>