<div class="aboutHero  container-fluid ">
    <div class="oveerlay"></div>
    <div class="info d-flex flex-column gap-4">
    <h3>{{ 'ABOUT.HERO_TITLE' | translate }}</h3>
    <p>{{ 'ABOUT.HERO_DESC' | translate }}</p>

        <app-book-btn       [label]="'ABOUT.BOOK_BTN' | translate" 
 [background]="color" [color]="buttonColorText()">
        </app-book-btn>
    </div>
</div>
<div class="aboutUs container-fluid py-5 d-flex gap-4">
    <div class="leftSide">
        <img src="Image/aboutCompany.png" alt="">
    </div>
    <div class="rightSide py-3">
        <p class="m-0 mb-3 d-flex align-items-center gap-2 colorOrgane ">{{ 'ABOUT.GOALS' | translate }} <img src="Icons/searchAbout.svg"
                alt=""> </p>
        <h4>{{'ABOUT.TEXTSIMPLE' | translate }}<span class="colorOrgane">  {{'ABOUT.SPAN' | translate }}</span></h4>

        <p class="textAbout">{{'ABOUT.MISSION_TEXT' | translate}}</p>




        <div class="contact d-flex justify-content-between align-items-center mt-4">
            <app-book-btn   [label]="'ABOUT.BOOK_BTN' | translate"  [background]="color" [color]="buttonColorText()">
            </app-book-btn>


            <div class="emailDev d-flex align-items-center justify-content-center gap-2">
                <div class="iconEmai">
                    <img src="Icons/bx_mail-send.svg" alt="">
                </div>
                <div class="email">
                <p class="m-0">{{ 'CONTACT.EMAIL_TITLE' | translate }}</p>
                    <p class="m-0">Info@gmail.com</p>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="cards-grid  container-fluid">
    @for (card of rates; track $index) {
    <div class="card-box">
        <img [src]="card.icon" alt="" class="card-icon" />
        <h3 class="card-title">{{ card.title  | translate}}</h3>
        <p class="card-text">{{ card.text | translate}}</p>
    </div>
    }
</div>
<div class="aboutUs container-fluid py-5 d-flex gap-4">

    <div class="rightSide py-3">
        <p class="m-0 mb-3 d-flex align-items-center gap-2 colorOrgane ">{{ 'ABOUT.TITLE_4' | translate }}<img src="Icons/searchAbout.svg"
                alt=""> </p>
        <h4>{{'ABOUT.TEXT5' | translate }}<span class="colorOrgane">  {{'ABOUT.SPAN' | translate }}</span></h4>

        <p class="textAbout">{{'ABOUT.GOALGO' | translate }}</p>




        <div class="features-grid  ">
            @for (feature of features(); track $index) {
            <div class="feature-item">
                <img src="Icons/octicon_goal-24.svg" alt="check icon" class="feature-icon" />
                <p class="feature-text">{{ feature  | translate}}</p>
            </div>
            }
             <div class="mt-4">
                                        <app-book-btn [label]="'ABOUT.More' | translate " [background]="color" [color]="buttonColorText()">
            </app-book-btn>
             </div>
        </div>
    </div>
    <div class="leftSide">
        <img src="Image/explore.png" alt="">
    </div>
</div>