<nav class="navbar container-fluid">
  <div class="navbar-logo" routerLink="/home">
    <img src="Icons/logoNavbar.svg" alt="Logo">
  </div>

  <ul class="navbar-links m-0">
    <li>
      <a routerLink="/engineer/home" routerLinkActive="active">الرئيسية</a>
    </li>
    <li>
      <a routerLink="/engineer/ordersNew" routerLinkActive="active">الطلبات الجديدة</a>
    </li>
        <li>
      <a routerLink="/engineer/organizations" routerLinkActive="active"> المنظمات</a>
    </li>
    <li>
      <a routerLink="/engineer/about" routerLinkActive="active">من نحن</a>
    </li>
    <li>
      <a routerLink="/engineer/contact" routerLinkActive="active">تواصل معنا</a>
    </li>
  </ul>
      <div class="profileMore d-flex gap-3 align-items-center">
      <app-darkmood-btn />
      <div class="lang-select" (click)="dropdownOpen = !dropdownOpen">
        <img [src]="selectedLang.flag" alt="flag" class="flag" />
        <span class="code">{{ selectedLang.code | uppercase }}</span>
        <i class="arrow" [class.open]="dropdownOpen"></i>

        <ul class="dropdown" *ngIf="dropdownOpen">
          <li *ngFor="let lang of languages" (click)="selectLanguage(lang)">
            <img [src]="lang.flag" alt="{{ lang.name }}" class="flag" />
            <span>{{ lang.name }}</span>
          </li>
        </ul>
      </div>
      <div class="profileImage cr" routerLink="/myporfile" >
<img  [src]="userImage" alt="" width="40" height="40" class="rounded-circle">      </div>
    </div>

</nav>