<div class="container-fluid my-3">
    <div class="card mb-5">
        <div class="overlay"></div>
        <div class="content justify-content-end flex-column">
            <div class="text d-flex align-items-start flex-column gap-4">
                <h3 class="m-0">هاندي فيكس للسباكة - وسط المدينة </h3>
                <div class="rate">
                    <i class="fa fa-star ms-2"></i>
                    <span class="text">4.5 ( 500 تقيماّ)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="detalis d-flex flex-column gap-3 mb-5">
        <div class="location d-flex align-items-center gap-2">
            <img src="Icons/mi_location.svg " height="25px" alt="">
            <span>الرياض، المملكة العربية السعودية</span>
        </div>
        <div class="phone d-flex align-items-center gap-2">
            <img src="Icons/lucide_phone.svg " height="25px" alt="">
            <span>+966 55 555 5555</span>
        </div>
        <div class="time d-flex align-items-center gap-2">
            <img src="Icons/tabler_clock.svg " height="25px" alt="">
            <span>ساعات  08 </span>
        </div>
    </div>
    
<div class="tabs-container">
  <!-- Tabs -->
  <div class="tabs">
        <button
      [class.active]="activeTab() === 'services'"
      (click)="switchTab('services')"
    >
      خدمات
    </button>
    <button
      [class.active]="activeTab() === 'products'"
      (click)="switchTab('products')"
    >
      منتجات
    </button>

  </div>

  <!-- Services Section -->
  @if (activeTab() === 'services') {
    <div class="cards grid-view">
      @for (card of serviceCards(); track card.title) {
        <div class="cardpordcut">
          <div class="image-wrapper">
            <img [src]="card.image" alt="service" />
            <div class="hours">
              <span>{{ card.hours }}</span>
              <i class="fa-regular fa-clock"></i>
            </div>
          </div>

          <div class="card-body">
            <h3>{{ card.title }}</h3>
            <p class="location">{{ card.location }}</p>
            <div class="rating">
              <span class="count">({{ card.reviews }})</span>
              <span class="star">★</span>
              <span class="rate">{{ card.rate }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  }

  <!-- Products Section -->
  @if (activeTab() === 'products') {
    <div class="cards full-view">
      @for (card of productCards(); track card.title) {
        <div class="cardpordcut full-card">
          <div class="image">
            <img [src]="card.image" alt="product" />
          </div>
          <div class="info">
            <h3 class="mb-2">{{ card.title }}</h3>
            <div class="d-flex justify-content-between align-items-center">
                 <p>{{ card.description }}</p>
            <div class="rating">
              <span class="count">({{ card.reviews }})</span>
              <span class="star">★</span>
              <span class="rate">{{ card.rate }}</span>
            </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>



</div>