<div class="info">
    <h3>{{ 'personalInfo' | translate }}</h3>

    <div class="aboutme">
        <div class="avatar" (click)="fileInput.click()">
            <img [src]="image()" alt="Profile" />
            <span class="camera"><i class="fa-regular fa-camera"></i></span>
            <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
        </div>
        <div class="title">
            <h3 class="name mb-2">{{ fullName() }}</h3>
            <p class="points mb-0">{{ points() }} {{ 'points' | translate }}</p>
        </div>
    </div>

    <form (ngSubmit)="onSave()">
        <div class="position-relative mt-4 mb-5">
            <input class="input-cal input-base inputFloating" placeholder="" name="fullName" [(ngModel)]="fullName" />
            <label id="label-input">{{ 'fullName' | translate }}</label>
        </div>

        <div class="cardsForm d-flex gap-3 mb-5">
            <div class="position-relative w-100 p-0 border-0">
                <ngx-intl-tel-input
                    [cssClass]="'custom'"
                    [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="true"
                    [customPlaceholder]="'phonePlaceholder' | translate"
                    [searchCountryFlag]="true"
                    [searchCountryField]="[SearchCountryField.All]"
                    [selectFirstCountry]="false"
                    [selectedCountryISO]="CountryISO.Egypt"
                    [separateDialCode]="true"
                    [phoneValidation]="true"
                    name="phone"
                    class="input-cal p-0 input-base inputFloating"
                    [(ngModel)]="phoneModel"
                    [disabled]="true">
                </ngx-intl-tel-input>
                <label id="label-input">{{ 'phoneNumber' | translate }}</label>
            </div>
        </div>

        <button class="btnsave" [disabled]="isUploading()">{{ 'save' | translate }}</button>
    </form>
</div>
