<footer class="footer">
  <div class="footer-container">

    <div class="logo">
      <img src="Icons/logoFooter.png" alt="Logo" />
    </div>

    <nav class="footer-nav">
      <a routerLink="/home">{{ 'FOOTER.NAV.HOME' | translate }}</a>
      <a routerLink="/service">{{ 'FOOTER.NAV.SERVICES' | translate }}</a>
      <a routerLink="/about">{{ 'FOOTER.NAV.ABOUT' | translate }}</a>
      <a routerLink="/contact">{{ 'FOOTER.NAV.CONTACT' | translate }}</a>
    </nav>

    <div class="social">
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>

  </div>

  <hr />

  <p class="copy">{{ 'FOOTER.COPYRIGHT' | translate }}</p>
</footer>
