<footer class="footer">
  <div class="footer-container">

    <div class="logo">
      <img src="Icons/logoFooter.svg" alt="Logo" />
    </div>
        <nav class="footer-nav">
      <a routerLink="/home"  >الرئيسية</a>
      <a routerLink="/service" >خدماتنا</a>
      <a routerLink="/about" >من نحن</a>
      <a routerLink="/contact" >تواصل معنا</a>

    </nav>
    <div class="social">
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>



    
  </div>

  <hr />

  <p class="copy">
    © 2025 راشد – جميع الحقوق محفوظة
  </p>
</footer>
