.leftSide{
    img{
            width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 15px;
    }
 
}

.cards{
        background: var(--color-white);
    border-radius: 18px;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease;
        border: 1px solid #dfdfdf94;
}
     .info {
      padding: 15px;

      h3 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p {
        color: #777;
        font-size: 15px;
        margin-bottom: 10px;
      }
    }