.heroSection {
  background-image: url('../../../../public/Image/Mask\ group.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 90px);
}

.contentHero {
  position: absolute;
  top: 20%;
  right: 50%;
  height: max-content;
  display: flex;
  gap: 10px;
  flex-direction: column;

  h5 {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-white);
    align-self: start;
  }

  h1 {
    font-family: Cairo;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 1.8;
    letter-spacing: 0%;
    color: var(--color-orange-3);
    align-self: start;

    >span {
      font-style: Bold;
    }
  }

  p {
    font-family: Cairo;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 1.9;
    letter-spacing: 0%;
    text-align: right;
    color: var(--color-white);
    width: 70%;
  }
}

.contantWive {
  width: fit-content;
  position: absolute;
  bottom: 50px;
  left: 20%;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #222;
}

.feature img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.leftImagePersonal {
  position: absolute;
  bottom: 0;
}

.quickServices {
  padding: 50px 150px !important;

  h2 {
    font-family: Cairo;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -1%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 80px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  background: var(--card-bg);
  border-radius: var(--radius);
  padding: 50px 35px;
  flex: 1 1 0;
  display: flex;
  gap: 30px;
  align-items: center;
  min-width: 0;
  overflow: visible;
  position: relative;
  border: none;
}

.icon {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background: linear-gradient(180deg, rgba(255, 122, 0, 0.08), rgba(255, 122, 0, 0.02));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: inset 0 -6px 0 rgba(255, 122, 0, 0.03);
}

.icon svg {
  width: 52px;
  height: 52px;
}

.content {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 8px 0;
  letter-spacing: 0.2px;
}

.desc {
  font-family: Cairo;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #141414bf;
}

.card.middle {
  transform: translateY(-6px);
}

.whyChosseme {
  gap: 100px;

  .content {
    align-items: flex-start;

    h2 {
      font-family: Cairo;
      font-weight: 700;
      font-style: Bold;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -1%;
      text-align: right;
      text-transform: capitalize;
    }

    p {
      font-family: Cairo;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 1.7;
      letter-spacing: 0%;
      text-align: right;
      vertical-align: middle;
      width: 70%;
    }
  }
}

.services {
  padding-top: 50px;

  h2 {
    font-family: Cairo;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -1%;
    text-align: center;
    vertical-align: middle;
  }

  p {
    font-family: Cairo;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    width: 50%;
  }
}

.experience {
  background: var(--accent);

  .leftExperience {
    width: 650px;

    h2 {
      font-family: Cairo;
      font-weight: 700;
      font-style: Bold;
      font-size: 48px;
      line-height: 1.7;
      letter-spacing: 1.7;
      text-align: right;
      vertical-align: middle;
      text-transform: capitalize;

    }

    p {
      font-family: Cairo;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: right;
      vertical-align: middle;
      color: #141414BF;


    }
  }

  .circle-container {
    position: relative;
    width: 600px;
    height: 550px;
    background-image: url("../../../../public/Icons/effect.svg");
    background-repeat: no-repeat;
    background-position: 4% 21%;

    .circle {
      position: absolute;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .top {
      top: 0;
      left: 50%;
      transform: translateX(-50%);

    }

    .left {
      bottom: 0;
      left: 0;
      height: 300px;
    }

    .right {
      bottom: 0;
      right: 0;
      width: 285.64208984375px;
      height: 270px;
    }
  }
}

@media (max-width: 1500px) {
  .contentHero {
    position: absolute;
    top: 15%;
    right: 45%;
  }

  .contantWive {
    width: fit-content;
    position: absolute;
    bottom: 50px;
    left: 17%;
  }
}

@media (max-width: 1200px) {

  .leftImagePersonal {

    display: none;
  }

  .whyChosseme {
    gap: 0;

  }

  .image {
    display: none;
  }
  .circle-container{
    display: none;
  }
  .quickServices {
    padding: 50px 50px !important;

    h2 {

      font-style: Bold;
      font-size: 35px;

      margin-bottom: 50px;
    }

  }

  .wrapper {
    flex-direction: column;
    gap: 18px;
    padding: 8px;
  }

  .contentHero {

    inset-inline-start: 40px !important;
    bottom: 50px;
    top: auto;
    right: auto;
  }

  .heroSection {
    background-image: url('../../../../public/Image/Mask group 2.png');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 90px);
  }

  .contantWive {
    display: none !important;
  }

}

@media (max-width: 920px) {

  .card {
    padding: 22px;
  }

  .icon {
    width: 68px;
    height: 68px;
    border-radius: 14px;
  }

  .icon svg {
    width: 44px;
    height: 44px;
  }

  .title {
    font-size: 20px;
  }

  .desc {
    font-size: 13px;
  }
  .leftExperience{
 
    h2{
            font-family: Cairo;
      font-weight: 700;
      font-style: Bold;
      font-size: 35px !important;

    }
    p{
      width: 100% !important;
    }
  } 
  .infoExperience{
    flex-wrap: wrap;

  }
}

@media (max-width: 600px) {
  .heroSection {

    height: calc(80vh - 90px);
    padding: 25px;
    display: flex;
    align-items: flex-end;

  }

  .contentHero , .whyChosseme {
    position: static;

    h1 , h2{
      font-family: Cairo;
      font-weight: 700;
      font-style: Bold;
      font-size: 35px !important;

    }

    p {
      width: 100% !important;
    }
  }

  .icon {
    width: 60px !important;
    height: 60px !important;
    ;
    border-radius: 14px;
  }

  .icon img {
    width: 50px !important;
    ;
    height: 50px !important;
    ;
  }
}

@media (max-width:450px){
    h1 , h2{

      font-size: 27px !important;

    }
}