.testimonials-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
    gap: 40px;

    .title-side {
        h2 {
            font-family: Cairo;
            font-weight: 700;
            font-style: Bold;
            font-size: 44px;
            line-height: 60px;
            letter-spacing: 0%;
            text-align: right;
            margin-bottom: 20px;
        }

        p {
            font-family: Cairo;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 1.7;
            letter-spacing: 1.7;
            text-align: right;
            width: 80%;
            color: #666666;
        }

        .custom-arrows {
            display: flex;
            gap: 10px;
            margin-top: 20px;

            .arrow {
                padding: 10px;
                border-radius: 8px;
                border: 1px solid ;
                background: transparent;
                color: var(--color-orange-dark);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 18px;
                transition: all 0.3s ease;
                outline: none;

                &.next {
                    background: var(--color-orange-dark);
                    color: #fff;
                }
            }
        }
    }

    .testimonial-card {
        display: flex;
        align-items: start;
        gap: 20px;
        border: 10px solid var(--color-orange-dark);
        border-left: none;
        border-radius: 20px;
        border-bottom: none;

        padding: 20px;
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        width: 550px;

        .rateing {
            color: var(--color-orange-dark);

            i {
                margin-left: 2px;
            }
        }

        .testimonial-image {
            img {
                object-fit: cover;
            }
        }

        .testimonial-text {
            p {
                font-family: Cairo;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 1%;
                color: #666666;
            }
        }

        .icon {
            background-color: var(--color-orange-dark);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
}

::ng-deep .owl-theme {
    width: 550px !important;
    transition: width 0.3s ease;
}


/* ✅ من أول 992 لحد 768 */
@media (max-width: 992px) {
    .testimonials-section {
        flex-direction: column;
        text-align: center;
    }

    .title-side p {
        width: 100%;
    }

   :host ::ng-deep .owl-theme {
        width: 450px !important;
    }
       .testimonial-card {
        width: 450px !important;
    }
}

/* ✅ من أول 768 لحد 576 */
@media (max-width: 768px) {
    .testimonials-section {
        padding: 50px 0;
        gap: 30px;
    }

    .title-side h2 {
        font-size: 32px;
        line-height: 45px;
    }

    .custom-arrows {
        justify-content: center;
    }

  

}

/* ✅ شاشات الموبايل الصغيرة */
@media (max-width: 576px) {
    .testimonials-section {
        padding: 40px 10px;
    }

    .title-side h2 {
        font-size: 26px;
        line-height: 36px;
    }

    .title-side p {
        font-size: 14px;
    }


   :host ::ng-deep .owl-theme {
        width:350px !important;
    }
       .testimonial-card {
        width: 350px !important;
        
        .testimonial-image {
         display: none !important;
        }
    }
 
}
@media (max-width: 420px) {
    .testimonials-section {
        padding: 40px 10px;
    }

    .title-side h2 {
        font-size: 26px;
        line-height: 36px;
    }

    .title-side p {
        font-size: 14px;
    }


   :host ::ng-deep .owl-theme {
        width:320px !important;
    }
       .testimonial-card {
        width: 320px !important;
        
        .icon {
         display: none !important;
        }

    }
 
}