/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "leaflet/dist/leaflet.css";

:root {
  --color-white: #FFFFFF;
  --color-orange: #F36B14 !important;
  --color-dark: #231F20;
  --color-black-1: #141414;
  --color-black-2: #000000;
  --color-purple: #640D5F;
  --color-orange-2: #FF9D00;
  --color-gray-1: #45413C;
  --color-black-alpha: #141414BF;
  --color-orange-3: #FF9800;
  --color-text-p: #646464;
  --accent: #FAE084;
  --muted: #9aa4b2;
  --card-bg: #ffffff;
  --page-bg: #FAF8F6;
  --radius: 16px;
 --bg-popup:#F4F4F4;
  --color-orange-dark:#F36B14;
 --bg-transablet:#f3691418;

  --gradient-1: linear-gradient(98.88deg, rgba(0, 0, 0, 0) 0.6%, rgba(0, 0, 0, 0.9) 96.39%);
  --gradient-2: linear-gradient(98.12deg, rgba(0, 0, 0, 0) 1.81%, rgba(0, 0, 0, 0.9) 97.19%);
  --gradient-3: linear-gradient(97.86deg, rgba(0, 0, 0, 0) 1.76%, rgba(0, 0, 0, 0.9) 96.81%);
  --gradient-4: linear-gradient(97.12deg, rgba(0, 0, 0, 0) 1.8%, rgba(0, 0, 0, 0.9) 96.83%);
  --gradient-5: linear-gradient(96.74deg, rgba(0, 0, 0, 0) 2.07%, rgba(0, 0, 0, 0.9) 97.04%);
  --gradient-6: linear-gradient(96.2deg, rgba(0, 0, 0, 0) 2.28%, rgba(0, 0, 0, 0.9) 97.21%);
}

/* Dark Mode */
.dark-theme {

  --color-orange-dark: #640D5F;
  --color-orange: #640D5F !important;
 --bg-transablet:#640d6036;
 
  --color-orange-2: #640D5F;

}

body::-webkit-scrollbar {
  width: 10px;
}
.swal2-toast{
        background:var(--card-bg) !important ;
    color: var(  --color-orange) !important;
    top: 20px !important;
    border-radius: 15px !important;
}

.swal2-modal{
        background:linear-gradient(to right, rgb(243 107 20 / 31%), rgb(243 107 20)) !important ;
    color: white !important;
}
body::-webkit-scrollbar-track {
  background: #2c2c2c;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

body {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--page-bg);
  color: var(--color-black-1);
}

input[type="tel"] {
  text-align: end !important;
}

.container-fluid {
  padding-inline: clamp(15px, 5vw, 150px) !important;

}

// Color stylee

.colorOrgane {
  color: var(--color-orange);
}

.error-msg {
  color: rgba(255, 0, 0, 1);
}

.cr {
  cursor: pointer;
}



.overlaypopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000004D;
  z-index: 800 - 1;
  opacity: 1;
  overflow-y: auto !important; 

  transition: opacity 0.5s ease-in-out;
}
.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  animation: spin 0.8s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.no-data{
      display: flex
;
    justify-content: center;
    align-items: center;
    padding: 56px;
    font-size: 18px;
    color: var(--color-text-p);

}


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
    margin-bottom: 50px;

  .nav-btn {
    border: 1px solid var(--color-orange-dark);
    background: transparent;
    color:var(--color-orange-dark);;
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background:var(--color-orange-dark);;
      color: #fff;
    }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: #ccc;
    color: #aaa;
    background: #f8f8f8;
  }
  }

  .pages {
    display: flex;
    gap: 6px;

    .page {
      width: 32px;
      height: 32px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      cursor: pointer;
      border: 1px solid #ccc;
      background: #fff;
      color: #000;
      transition: all 0.3s ease;

      &:hover {
        border-color:var(--color-orange-dark);;
        color:var(--color-orange-dark);;
      }

      &.active {
        color:var(--color-orange-dark);;
        border: 1px solidvar(--color-orange-dark);;
      }
      
    }
  }
}
.headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: var(--color-orange);

    }

    .btn {
        border: 1px solid var(--color-orange-dark);
        background: var(--bg-transablet);
        width: 156px;
        padding-top: 10px;
        padding-right: 16px;
        padding-bottom: 10px;
        padding-left: 16px;
        border-radius: 24px;
        color: var(--color-orange);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}