<div class="bgauth">
  <div class="overlay"></div>

  <div class="authRoute">
    <div class="leftSide">
      <div class="logo">
        <img src="Image/authlogo.png" alt="" />
      </div>
      <div class="textAuth">
        <h3>بيتك أمانك.. وخدماتنا راحتك</h3>
        <p>
          سجّل دخولك الآن واستمتع بخدمات منزلية موثوقة وسريعة، من التنظيف والصيانة لحد كل احتياجات
          بيتك.. في مكان واحد
        </p>
      </div>
    </div>
    <div class="rightSide">
      <router-outlet />
    </div>
  </div>
</div>
