<nav class="navbar container-fluid">
  <div class="navbar-logo">
    <img src="Icons/logoNavbar.svg" alt="Logo">
  </div>

  <ul class="navbar-links">
    <li>
      <a routerLink="/home" routerLinkActive="active" >الرئيسية</a>
    </li>
    <li>
      <a routerLink="/service" routerLinkActive="active">خدماتنا</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">من نحن</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">تواصل معنا</a>
    </li>
  </ul>

  <div class="navbar-actions">
    <button class="btn-outline">
      <i class="fa fa-user"></i>
      تسجيل دخول
    </button>
    <button class="btn-fill">
      <i class="fa fa-user-plus"></i>
      إنشاء حساب
    </button>
  </div>
</nav>