<div class="mb-5 container-fluid">
  <app-header-pages [title]="'المهندسون المختصون بهذه الخدمة'" />

  <div class="searchInput">
    <div class="inputSerch">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="ابحث عن مهندس..." />
    </div>
  </div>

  <div class="cardServices mt-5">
    @for (engineer of engineers(); track engineer.profileId) {
    <div class="cardService d-flex gap-3" [routerLink]="['/profile', engineer.profileId]">
      <img
        [src]="baseUrl + engineer.userDto.photoUrl || 'Image/bgAuth.jpg'"
        class="ImgeEngieer"
        alt="service"
        width="100px"
      />

      <div class="infoService flex-grow-1 px-2">
        <h5>{{ engineer.userDto.name }}</h5>

        <div class="description d-flex justify-content-between align-items-center w-100">
          <p class="m-0">{{ engineer.summary | shorten : 200 }}</p>
          <div class="rate">
            <i class="fa fa-star"></i>
            <span>{{ engineer.rate }}</span>
          </div>
        </div>

        <div class="location mt-2 d-flex align-items-center gap-2">
          <img src="Icons/cil_send.svg" alt="" />
          <span>{{ engineer.distance | distanceFormat }}</span>
        </div>
      </div>
    </div>
    }
  </div>
  @if (engineers().length == 0) {
  <div class="no-data">لا توجد خدمات لعرضها.</div>

  }
</div>
